
#no-display{
    display: none;
}
#displayed-image{
    margin-top: 2rem;
    margin-bottom: 2rem;

}
body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #FFEAB5;   
}

button{
    color: #FFEAB5;  
    width:10rem;
    height: 2rem;
    background: #6a89cc;
    cursor: pointer;
    outline: none;
    border:none;
    border-radius: .5rem;
    transition: all 2s;
}

button:hover{
    color: white;
    background: #3d5b9e;
}

/*https://stackoverflow.com/questions/8641251/how-do-i-center-list-items-inside-a-ul-element*/
ul{
    list-style-type:none;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
li{
    list-style-type:none;
}
a:hover{
    
}
ul li{
    display: list-item;
    background: #58C3DB;
    padding: 5px 10px;
    color:white;
    margin: 0 3px 10px;
    transition: all 2s;
}
a{
    background: #58C3DB;
    color: rgb(221, 115, 62);
    transition: all 2s;  
}
ul li:hover, ul li:hover li, ul li:hover a{
    background: rgb(3, 106, 129);
    color: white;
}